*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    overflow: hidden;
    display: flex;
    background:
        radial-gradient(circle at center, rgba(255,255,255,0.1) 0%, transparent 70%),
        linear-gradient(90deg, #d35400 50%, #2980b9 50%);
}

.p1{
    padding: 50px;
}
.p2{
    padding: 50px;
}

 .player1{
     /* background-color: rgba(255, 78, 2, 0.5); */ 
     height: 100vh; 
     width: 50vw; 
     display: flex; 
     align-items: center; 
 }  

 .player2{ 
    /* background-color: rgba(13, 83, 234, 0.3); */
     height: 100vh; 
    width: 50vw; 
    display: flex;
    justify-content: flex-end;
    align-items: center; 
 } 

.signs{
    display: flex;
    flex-direction: column;
}

.circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 3vh;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.p1-color{
    /* background-color: rgba(255, 78, 2, 0.5); */
    border: solid 6px #343a40;
    Color: #f8f9fa
}

.p2-color{
    /* background-color: rgba(13, 83, 234, 0.3); */
    border: solid 6px #343a40;
    Color: #f8f9fa
}

#p1-rock, #p2-rock{
    background-image: url('images/rock.webp');
    background-size: cover;
}

#p1-paper, #p2-paper{
    background-image: url('images/paper.png');
    background-size: cover;
}

#p1-scissor, #p2-scissor{
    background-image: url('images/scissor.jpeg');
    background-size: cover;
}

.circle:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-10px);
    transition: all 0.3s ease;
    transform: scale(1.15) rotate(5deg); /* Slight tilt makes it feel playful */

}

button:hover{
    filter: brightness(1.5);
}

#msg {
    /* background-color: #081b31; */
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0,0,0,0,5);

    /* padding: 1rem 2rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.chosen{
    transform: scale(2);
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#timer{
    font-size: 5rem;
    color: azure;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.startBtn{
    padding: 1rem 2rem;
    font-size: 2rem;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    
    color: white;
    border: solid 2px rgba(255,255,255,0.2) ;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}
.playAgain{
    padding: 1rem 2rem;
    font-size: 2rem;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: white;
    border: solid 2px rgba(255,255,255,0.2) ;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.score-container{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background: #ecf0f1;
    border: 5px solid #2c3e50;
    border-bottom: none;
    backdrop-filter: blur(10px);
    border-radius: 100px 100px 0 0;

    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;

    height: 80px;
    width: 150px;
    padding: 0px 35px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

}